[submodule "edin01/project2"]
	path = edin01/project2
	url = https://github.com/HaraldNordgren/edin01.git
[submodule "eit060/proj2/EIT060"]
	path = eit060/proj2/EIT060
	url = https://github.com/gifflarn/EIT060
[submodule "fmn011/project2"]
	path = fmn011/project2
	url = https://github.com/HaraldNordgren/fmn011
[submodule "edaf35/project"]
	path = edaf35/project
	url = https://github.com/HaraldNordgren/edaf35
[submodule "eda031/project"]
	path = eda031/project
	url = https://github.com/HaraldNordgren/eda031
[submodule "eq2330"]
	path = eq2330
	url = https://github.com/HaraldNordgren/eq2330
[submodule "edan40"]
	path = edan40
	url = https://github.com/HaraldNordgren/edan40
